.introduction {

    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    .container {
        padding: 175px 175px 180px 175px;
    }

    &__title {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
        color:  $txt-white;
        margin-bottom: 60px;
    }

    &__content {
        font-size: 2rem;
        color: $txt-white;
        width: 667px;
        line-height: 3.5rem;
        margin-bottom: 60px;
        letter-spacing: 1px;
    }

    @include tablet {
        .container {
            padding: 100px 100px 110px 100px;
        }

        &__title{
            font-size: 4.5rem;
            margin-bottom: 50px;
        }
        &__content {
            letter-spacing: 0.5px;
            font-size: 1.8rem;
        }
    }

    @include medium-tablet {
        .container {
            padding: 50px 50px 60px 50px;
        }

        &__title{
            font-size: 4rem;
            margin-bottom: 50px;
        }
        &__content {
            letter-spacing: 0.2px;
            font-size: 1.6rem;
            width: 500px;
        }
    }

    @include mobile {
        .container {
            padding: 50px 20px 60px 20px;
        }

        &__title{
            font-size: 3rem;
            margin-bottom: 50px;
        }
        &__content {
            letter-spacing: 0.2px;
            font-size: 1.4rem;
            width: 250px;
        }
    }

    @include sm-mobile {
        .container {
            padding: 50px 10px 60px 10px;
        }

        &__title{
            font-size: 2.8rem;
            margin-bottom: 50px;
        }
        &__content {
            letter-spacing: 0.1px;
            font-size: 1.4rem;
            width: 230px;
        }
    }
}